{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="text-center mb-4">

        <h1>Host</h1>

        <p class="text-muted">
            Manage your places.
        </p>

    </div>


    <div class="d-flex justify-content-between align-items-center mb-4">

        <h1>My Places</h1>

        <a
            href="{% url 'house_create' %}"
            class="btn btn-airbnb"
        >
            + Add place
        </a>

    </div>


    <div class="row">

        {% for house in houses %}

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">

                {% include "components/house_card.html" %}

                <div class="mt-2">
                    <a
                        href="{% url 'house_update' house.id %}"
                        class="btn btn-outline-airbnb btn-sm mt-2 w-100"
                    >
                        Edit
                    </a>
                </div>

            </div>

        {% empty %}

            <div class="text-center">

                <p class="text-muted">
                    You still do not have places registereds.
                </p>

                <a
                    href="{% url 'house_create' %}"
                    class="btn btn-outline-airbnb"
                >
                    Register my first place.
                </a>

            </div>

        {% endfor %}

    </div>

</div>

{% endblock %}