{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Voya
        {% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>



<body>

    <!-- TOPO -->
    <header class="border-bottom">

        <div class="container">

            <div class="d-flex justify-content-between align-items-center py-3">

                <!-- LOGO -->
                <a class="btn btn-outline-airbnb" href="{% url 'dashboard' %}">
                    Voya
                </a>

                <!-- USUÁRIO -->
                <div>

                    {% if request.resolver_match.url_name == "host" or request.resolver_match.url_name == "host_reservations" %}

                        <a
                            href="{% url 'dashboard' %}"
                            class="btn btn-outline-airbnb btn-sm me-3"
                        >
                            <i class="bi bi-airplane"></i>
                            Switch to travel
                        </a>

                    {% else %}

                        <a
                            href="{% url 'host' %}"
                            class="btn btn-outline-airbnb btn-sm me-3"
                        >
                            <i class="bi bi-house"></i>
                            Switch to host
                        </a>

                    {% endif %}


                    {% if user.is_authenticated %}


                    <div class="dropdown d-inline-block">

                        <button
                            class="btn btn-outline-airbnb btn-sm dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <i class="bi bi-person-circle"></i>
                            Hi, {{ user.username }}
                        </button>

                        <ul class="dropdown-menu dropdown-menu-end">

                            {% if request.resolver_match.url_name == "host" %}

                            <li>
                                <a class="dropdown-item" href="{% url 'host_reservations' %}">
                                    <i class="bi bi-calendar-check me-2"></i>
                                    My Reservations
                                </a>
                            </li>

                            {% else %}

                            <li>
                                <a class="dropdown-item" href="{% url 'my_reservations' %}">
                                    <i class="bi bi-calendar-check me-2"></i>
                                    My Reservations
                                </a>
                            </li>

                            {% endif %}

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="bi bi-box-arrow-right me-2"></i>
                                    Logout
                                </a>
                            </li>

                        </ul>

                    </div>

                    {% else %}

                    <a href="{% url 'login' %}" class="btn btn-outline-airbnb btn-sm">
                        Login
                    </a>

                    {% endif %}

                </div>


            </div>

        </div>

    </header>


    <!-- CONTEÚDO -->
    <main>

        {% block content %}
        {% endblock %}

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>